
*{box-sizing: border-box;}
body{
    text-align: center;
  
    
    font-family: 'Nunito';
    margin: 0;
    
    height: 500px;
}

@media (max-width:1020px) {
    body{
        padding: 2rem;
        font-size: 50px;
        line-height: 2;
    }
    
}


#form-option{
   color: #fff;
}

.container{
    font-family: 'Nunito';
}

/* .Container{
    margin: 2rem;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
} */
.hero-par{
   line-height: 1.5;
   font-size: 2.5rem;
   
}



 /* .logo{
     margin:  1rem ;
     font-weight: 700;
     font-family: 'Poppins';
     color: #ffa500;
     
     
    
    
    
}

 ul{
    list-style: none;
}

li{
    float: right;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    

    
    margin: 0 1rem;

    
}
li:focus{
    background-color: #ffa500;
    text-decoration: none;
}
 

/* anchor{
     
    font-family: 'Merriweather'; 
    font-weight: bold; 
    font-size: 30px;
    margin-right: 500px;
}
  */


li a:hover{
    text-decoration: none;
} 
 
h2{
    
    font-size: 1.5rem;
    font-weight: bold;
}

.Container1{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 400 200;
    width: 100%;
    font-family: 'Nunito';
    margin: 100px auto 100px auto;
    text-align: center;
    height: 600px;
    
    
}

@media (max-width:1019px) {
    .Container1{
        margin-top: 5px;
        padding: 1rem;
    }
    
}
.Videolink{
    background-color: white;
    text-align: center;
    border: 10px solid white;
    padding: 10px;
    
}

.grid1{
    text-align: center;
    font-size: 24px;
    margin-right: 20px;
    column-gap: 20px;

}
.sec1-head{
    font-family: 'Sacramento'; 
    font-size: 50px; 
    color: #fff
}

.sec1-par{
    color: #fff;
}
  


.grid2 input:not(.alt){
    border-radius: 16px;
    padding: 0.5rem;
    width: 80%;
    margin-top: 20px;
    text-align: center;
    /* margin-right: 70px; */
    color: black;
}

.alt{
    color:white
}

/* .Container2{
    display:grid;
    background-color: orange;
    height: 100px;

    text-align: center;
    position: fixed;

} */






.Container3{
    text-align: center;
    font-family: 'Nunito';
    color: white;
    background-color: white;
    height:100px ;
    margin-bottom: 100px;
    padding-top: 40px;

}

.Container3 h2{
    font-size: 40px;
}
  



    .Container6{
        display: flex;
        background-color: black;
    
        height: 100px;
        align-items: center;
        justify-content: center;
        /* margin-bottom: 10px;  */
    }
    .Container7{
        background: url(../images/man-silhouette-fitness-wallpaper-preview.jpg); background-repeat: no-repeat; 
        background-size: cover;
    }

    
    
    .Container8
    {   display: flex;
        /* background-color: #ffa500; */
        font-family: 'Nunito';
        color: #000;
        height: 100px;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px; 
        margin: 0.5rem auto;


    }
    .Container9 {
        font-family: 'Nunito';
    }
    .img-responsive{
        max-width: 80%;
        height: auto;
        width: 50px;
    }

    .Container9 h4{
        font-size: 20px;
    }

    .car-top{
        text-align: center; 
        line-height: 1.8;
        padding: 4rem;
        
        
    }

    .car-img{
        border-radius: 50%;
        
        height: 200px;
        width: 200px;

    }

    

    .carousel-item{
        height: 500px; 
    }
.Container10{
    
    background-color: black;
    border: 1rem;
    padding: 1rem;
    text-align: center;
    color: #fff;
    
    width: 100%;
    text-decoration: none;
    height: 100px;
    
    
}




.Container4{
    text-align: center;
   margin: 1rem 5rem;
    font-family: 'Nunito';
    line-height: 1.5;
    
}
.sec4-link{
     border-radius: 16px;
     padding: 3rem;
     
}
.sec4-link:hover{
    text-decoration: none;
  

}

@media (max-width:1019px) {
    .Container4{
        padding: 2rem;
    }
}
.sec4-img{
    width: 50%;
    max-width: 100%;
}
.sec4-head{
    font-family: 'Sacramento';
     font-size: 40px;
}
.post2{
    margin: 3rem;
    max-height: 100%;
    height: 50%;
    padding: 2rem;
}

.Container{
    background-color: #000;
    font-family: 'Nunito';
    padding: 2rem;
    text-align: center;
   
}